
@layer tailwind-base, primereact, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body,
#root,
.app {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  --freegrid-font-size: 11px;
  --freegrid-font-weight: 500;
  --freegrid-font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-family: var(--freegrid-font-family);
  font-size: var(--freegrid-font-size);
  font-weight: var(--freegrid-font-weight);
}

.simple-html-grid-menu {
  z-index: 5060 !important;
}

.new-cell {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  bottom: 0;
  margin: 0;
  margin: 0;
  background-color: rgba(0, 238, 255, 1);
}
  

.edit-cell {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  bottom: 0;
  margin: 0;
  background-color: rgb(238, 255, 0);
}

